.App {
  text-align: center;
  background: url("../public/rain-dark-sun-clouds 1.png");
  /* background-size: cover; */
  height: 600px;
  margin: 20px;
  border-radius: 20px;
}

.App .search_can{
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.App .disc{
  color: white;
  font-size: 70px;
  margin: 0px 300px;
}

.App .search{
  /* margin-top: 25px; */
  display: flex;
  justify-content: center;
}

.App .search input{
  padding: 10px;
  width: 300px;
  border: none;
  border-radius: 10px 0 0 10px;
}

.App .search button{
  padding: 10px;
  border: none;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  background: white;
}

.bottom-data{
  display: flex;
  justify-content: center;
  gap: 40px;
}